<!--

Author: Matthew Larsen
Date: 02/13/2025
Portfolio Project: Guestbook Part III
Filename: confirm.html
File Description: HTML for Confirmation page

-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/confirm.css">
  <link rel="icon" type="image/png" href="/images/confirm.png" />
  <title>Confirmation Page</title>
</head>

<body>
  <main>
    <h2>Thank you, <%=contact.fname %>!</h2>
    <p> The following information was submitted successfully: </p>
    <h4>Contact Information:</h4>
    <ul id="row1">
      <li><b>First Name:</b> <%= contact.fname %></li>
      <li><b>Last Name:</b> <%= contact.lname %></li>
      <li><b>Job Title:</b> <%= contact.title %></li>
    </ul>
    <ul id="row2">
      <li><b>Company:</b> <%= contact.company%></li>
      <li><b>LinkedIn:</b> <%= contact.linkedIn %></li>
      <li><b>Email:</b> <%= contact.email %></li>
    </ul>
    <ul id="row3">
      <li><b>How we met:</b> <%= contact.meet %></li>
      <li><b>Other:</b> <%= contact.other %></li>
      <li></li>
    </ul>
    <ul id="row4">
      <li><b>Message:</b> </li>
      <li> <%= contact.message %></li>
    </ul>
    <ul id="row5">
      <li><b>Add to mailing list: </b> <%= contact.mailList %></li>
      <li><b>Email Format: </b><%= contact.format %></li>
    </ul>
    <form action="/" method="get">
      <input id="button" type="submit" value="&#129032; Back">
    </form>
  </main>  
</body>
</html>